#Header {
    text-align: center;
    background-color: #00FFFF;
    height: 100%;
    width: 100%;
}

.Tailândia {
    text-align: center;
    background-color: #E0FFFF;
    height: 100%;
    width: 100%;
}

.MachuPicchu {
    text-align: center;
    background-color: #E0FFFF;
    height: 100%;
    width: 100%;
}

.Veneza{
    text-align: center;
    background-color: #E0FFFF;
    height: 100%;
    width: 100%;
}

.Amsterdã{
    text-align: center;
    background-color: #E0FFFF;
    height: 100%;
    width: 100%;
}

.Grecia{
    text-align: center;
    background-color: #E0FFFF;
    height: 100%;
    width: 100%;
}

.Lista{
    text-align: center;
    background-color: #E0FFFF;
    height: 100%;
    width: 100%;
}
